body{
    width: 100%;
    margin: 0;
}






label{
    display: block;             /* APUNTALO EN LA TABLET 
    
                                Como los elementos label por defecto son inline, 
                                se muestran todos juntos en la misma línea, haciendo difícil su lectura.
                                Para mostrarlos en diferentes líneas, añade display: block al elemento label, 
                                y dale a la propiedad margin un valor de 0.5rem 0, 
                                para darles un poco de separación.*/
    margin: 0.5rem 0;
}

